@import url('https://fonts.googleapis.com/css?family=Shrikhand');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  background-color: #011627;
  background-image: url("https://www.transparenttextures.com/patterns/stardust.png");
}

.tr-style {
  background-color: #011627;
  color: goldenrod;
  border-color: goldenrod;
}

.tr-head {
  background-color: #01162700;
  color: goldenrod;
  border-color: goldenrod;
}


